*.aux
*.bcf
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.bbl
*.blg
*.xdv
*.dvi
*.nav
*.snm
*.vrb

# don't publish books/reference PDFs
Peter Schneider*.pdf
Radio Galaxies*.pdf
An introduction*.pdf
Jones*.djvu

# optional local build folders
build/
.ssh/
seminars/
